:root {
  --white: #ffffff;
  --almost-white: #F8EDEB;

  --beige: #ECE4DB;

  --darker-blueish-green: #38686A;
  --blueish-green: #4E7171;

  --darkest-green: #9eada4;
  --darker-green: #B9CBC0;
  --green: #C4D4C9;
  --lighter-green: #EDEDE9;

}


body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: var(--darker-green);
  color: var(--blueish-green);
}

h1 {
  font-size: 6vw;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 2vw;
}

h2 {
  font-size: 3vw;
  font-family: 'Merriweather', serif;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  font-size: 2vw;
  color: var(--almost-white);
}

a {
  text-decoration: none;
  color: var(--blueish-green);
  transition: 0.6s;
}

a:hover {
  color: var(--darker-blueish-green);
}

label {
  margin-left: 10vw;
  font-family: 'Merriweather', serif;
  font-size: 2.5vw;
}

.form-check-input {
  height: 2vw;

}

.form-check-input:checked {
  background: var(--darker-blueish-green);
  border-color: var(--darker-blueish-green);
  border-image: stretch;
}


.btn-primary {
  background-color: var(--blueish-green);
  border: none;
  float: right;
  transition: 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 1.5vw;
  margin-bottom: 2vw;
}

.btn-primary:hover {
  background-color: var(--darker-blueish-green);
}

.card {
  height: 16vw;
  background-color: var(--blueish-green);
  border-radius: 20%;
  transition: 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}

.card:hover {
  background-color: var(--darker-blueish-green);
}

.card-img-top {
  width: 12vw;
  height: 12vw;
  display: block;
  margin: auto;
}

.card-title {
  text-align: center;
  font-size: 2.5vw;
  color: var(--white);
  margin-top: 0.7vw;
}

.card p {
  color: var(--almost-white);
  text-align: center;
}


#noteTextArea {
  height: 20vw;
  padding: 10px;
  background: var(--darkest-green);
  color: var(--darker-blueish-green);
  margin: auto;
  font-size: 1.5vw;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#noteTextArea::placeholder {
  color: var(--darker-blueish-green)
}


.miniNoteCard {
  height: 12vw;
  background: var(--darkest-green);
  border-radius: 10%;
  transition: 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  overflow: hidden;
  margin-bottom: 1vw;
}

.miniNoteCard h1 {
  color: var(--almost-white);
  text-align: center;
  font-size: 1.5vw;
}

.miniNoteCard p {
  color: var(--almost-white);
  text-align: center;
  font-size: 1.5vw;
}


label {
  display: inline;
}


@media (max-width: 768px) {

  h2 {
    font-size: 5vw;
  }

  p {
    font-size: 5vw;
    margin: auto;
  }

  .card {
    height: 25vw;
    margin-top: 10vw;
  }

  .card-title {
    font-size: 10vw;
    margin: auto;
  }

  .card-description {
    margin: auto;
    display: none;
  }


  #noteTextArea {
    height: 50vw;
  }

  .miniNoteCard {
    height: 20vw;
  }

  .miniNoteCard h1 {
    font-size: 3vw;
  }

  .miniNoteCard p {
    font-size: 4vw;
  }
}

.userHeader {
  float: right;
  font-size: 3vw;
}