:root {
  --white: #ffffff;
  --almost-white: #F8EDEB;

  --beige: #ECE4DB;

  --darker-salmon: #FEC5BB;
  --salmon: #FCD5CE;
  --lighter-salmon: #FAE1DD;
  
  --darker-blueish-green: #38686A;
  --blueish-green: #4E7171;

  --darker-green: #B9CBC0;
  --green: #C4D4C9;
  --lighter-green: #EDEDE9;

  --darker-orange: #FEC89A;
  --orange: #FFD7BA;
  --lighter-orange: #FFE5D9;

  
  --large: 32vw;
  --medium: 25vw;
  --small: 20vw;
  --xsmall: 16vw;
}


body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: var(--darker-green);
  color: var(--blueish-green);
}

h1 {
  font-size: 8vw;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 2vw;
}
h2 {
  font-size: 4vw;
  font-family: 'Merriweather', serif;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: var(--blueish-green);
  transition: 0.6s;
}
a:hover {
  color: var(--darker-blueish-green);
}

.row {
  margin-bottom: 3vw;
  margin-left: 25vw;
}


.card {
  display: inline-block;
  width: var(--small);
  height: var(--xsmall);
  background-color: var(--blueish-green);
  border-radius: 20%;
  transition: 0.6s;
  margin-right: 10vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card:hover {
background-color: var(--darker-blueish-green);
}
.card-img-top {
  width: 12vw;
  height: 12vw;
  display: block;
  margin: auto;
}
.card-title {
  text-align: center;
  font-size: 2.5vw;
  color: var(--white);
  margin-top: 0.7vw;
}



.browser-dot {
  height: 12px;
  width: 12px;
  background-color: var(--green);
  margin: auto;
  border-radius: 50%;
  display: inline-block;
}
.browser-dot-group{
  width: 36px;
}
.browser-dot-group:hover span{
  cursor: pointer;
  background-color: var(--blueish-green);
}
.browser-container {
  width: 80vw;
  border: 3px solid var(--blueish-green);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: auto;
}
.browser-top {
  padding: 10px;
  background: var(--darker-blueish-green);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.browser-content {
  padding: 10px;
}





@media (max-width: 500px) { 
  
  h2 {
    font-size: 7vw;
  }
  p {
    font-size: 5vw;
  }

  .row {
    margin-top: 15vw;
    margin-left: 10vw;
  }

  .card {
    width: var(--large);
    height: var(--large);
    margin-right: 6vw;
  }
  .card-img-top{
    width: var(--medium);
    height: var(--medium);
  }
  .card-title {
    font-size: 5vw;
    margin-top: 0;
  }

  .browser-container {
    width: 92vw;
  }
}