:root {
  --white: #ffffff;
  --almost-white: #F8EDEB;

  --beige: #ECE4DB;
  
  --darker-blueish-green: #38686A;
  --blueish-green: #4E7171;

  --darkest-green: #9eada4;
  --darker-green: #B9CBC0;
  --green: #C4D4C9;
  --lighter-green: #EDEDE9;

}


body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: var(--darker-green);
  color: var(--blueish-green);
}

h1 {
  font-size: 6vw;
  font-family: 'Merriweather', serif;
  text-align: center;
  margin-top: 2vw;
}
h2 {
  font-size: 3vw;
  font-family: 'Merriweather', serif;
  margin-top: 0;
  margin-bottom: 0;
}
p {
  font-size: 2vw;
  color: var(--almost-white);
}

a {
  text-decoration: none;
  color: var(--blueish-green);
  transition: 0.6s;
}
a:hover {
  color: var(--darker-blueish-green);
}
label{
  margin-left:10vw;
  font-family: 'Merriweather', serif;
  font-size: 2.5vw;
}


.btn-primary{
  background-color: var(--blueish-green);
  border: none;
  float: right;
  margin-right: 10vw;
  transition: 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width:8vw;
  height:3vw;
}
.btn-primary:hover{
  background-color: var(--darker-blueish-green);
}

.card {
  width: 20vw;
  height: 16vw;
  background-color: var(--blueish-green);
  border-radius: 20%;
  transition: 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
}
.card:hover {
background-color: var(--darker-blueish-green);
}
.card-img-top {
  width: 12vw;
  height: 12vw;
  display: block;
  margin: auto;
}
.card-title {
  text-align: center;
  font-size: 2.5vw;
  color: var(--white);
  margin-top: 0.7vw;
}
.card p{
  color:var(--almost-white);
  text-align: center;
}


#noteTextArea{
  padding: 10px;
  background: var(--darkest-green);
  color: var(--darker-blueish-green);
  width: 80vw;
  margin: auto;
  font-size: 1.5vw;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#noteTextArea::placeholder{
  color: var(--darker-blueish-green)
}


.miniNoteCard {
  width: 15vw;
  height: 17vw;
  background: var(--darkest-green);
  border-radius: 10%;
  transition: 0.6s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;
  overflow: hidden;
}
.miniNoteCard h1 {
  color:var(--almost-white);
  text-align: center;
  font-size: 1.5vw;
}
.miniNoteCard p {
  color:var(--almost-white);
  text-align: center;
  font-size: 1.5vw;
}



.form-check-label {
  display: inline;
}


@media (max-width: 500px) { 
  
  h2 {
    font-size: 7vw;
  }
  p {
    font-size: 5vw;
  }

  .card {
    width: 75vw;
    height: 75vw;
    border-radius: 45%;
    margin: auto;
  }
  .card-img-top{
    width: 55vw;
    height: 55vw;
  }
  .card-title {
    font-size: 10vw;
    margin-top: 0;
  }
}